@charset "UTF-8";
.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container .ant-layout-sider {
  box-sizing: border-box;
}

.container .ant-layout {
  /* 防止 tabs 超出不收缩 */
  overflow-x: hidden;
}

.container .ant-layout .ant-layout-content {
  position: static !important;
  box-sizing: border-box;
  flex: 1;
  padding: 10px 12px;
  overflow-x: hidden;
}

.menu {
  height: 100%;
  /* 去除菜单 Loading 遮罩层 */
}

.menu .logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.menu .logo-box .logo-img {
  width: 50px;
  margin: 0;
}

.menu .ant-menu-root {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu .ant-spin-nested-loading,
.menu .ant-spin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu .ant-spin-nested-loading .ant-spin,
.menu .ant-spin-container .ant-spin {
  max-height: 100% !important;
}

.menu .ant-spin-nested-loading .ant-spin-container::after,
.menu .ant-spin-container .ant-spin-container::after {
  background: transparent !important;
}

.menu .ant-spin-nested-loading .ant-spin-blur,
.menu .ant-spin-container .ant-spin-blur {
  overflow: auto !important;
  clear: none !important;
  opacity: 1 !important;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #f6f6f6;
}

.ant-layout-header .header-lf {
  display: flex;
  align-items: center;
}

.ant-layout-header .header-lf .collapsed {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout-header .header-ri {
  display: flex;
  align-items: center;
}

.ant-layout-header .header-ri .icon-style {
  margin-right: 22px;
  font-size: 19px;
  line-height: 19px;
  cursor: pointer;
  margin-top: 28px;
}

.ant-layout-header .header-ri .username {
  margin: 0 20px 0 0;
  font-size: 15px;
}

.ant-layout-header .header-ri .ant-avatar {
  cursor: pointer;
}

.theme-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.theme-item span {
  font-size: 14px;
}

.theme-item .ant-switch {
  width: 46px;
}

.divider {
  margin: 0 0 22px !important;
  font-size: 15px !important;
}

.divider .anticon {
  margin-right: 10px;
}

.ant-divider-with-text::before,
.ant-divider-with-text::after {
  border-top: 1px solid #dcdfe6 !important;
}
